<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile | SynergySpace</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
    
<body>
    <div class="container">
        <div class="bs-docs-grid">
            <div class="row show-grid">
                <h1>
                    <div class="col-xs-9 col-md-9">
                        <i>SynergySpace</i>
                    </div>
                    
                    <div class="col-xs-1 col-md-1">
                        <form action = '/logout' method='GET' >
                            <button type="submit" class="btn btn-success btn-lrg">
                                <span class="glyphicon glyphicon-log-out"/>
                            </button>
                        </form>
                    </div>
                </h1>
            </div>
            <h2> Admin view
            </h2>
            <div class="actions">
                <h4> Restrict space leasing type:</h4>
                <form class="form-group" id="leasing" action="/changeLeaseType" method="post">
                    <input type="submit" id="submit-leasing" value="submit"/>
                </form>
            </div>
            <div class="stats">
                <h4> Number of teams formed: <span id="teams"></span>
                </h4>
                <ul>
                    <li>Average size of Team: <span id="avg-team"></span></li>
                    <li>Largest team size: <span id="max-team"></span></li>
                </ul>
                <h4> Number of spaces leased: <span id="spaces"></span>
                </h4>
                <ul>
                    <li>Average numbers of members per space:<span id="avg-mem"></span></li>
                    <li>Highest space occupancy:<span id="max-mem"></span></li>
                </ul>
                <h4> Total number of members: <span id="members"></span>
                </h4>
                <ul>
                    <li>Average number of spaces created per member: <span id="avg-crtn"></span></li>
                    <li>Highest number of spaces created by single user:<span id="max-crtn"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: "/getSpaces?",
                success: function(data) {
                    var parsed = $.parseJSON(data);
                    //alert(data);
                    $("#spaces").html(parsed.results[0].spaceCount);
                },
                error: function(error) {
                    //alert(error);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: "/getMembers?",
                success: function(data) {
                    var parsed = $.parseJSON(data);
                    //alert(data);
                    $("#members").html(parsed.results[0].emailCount);
                },
                error: function(error) {
                    //alert(error);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: "/getTeams?",
                success: function(data) {
                    var parsed = $.parseJSON(data);
                    //alert(data);
                    $("#teams").html(parsed.results[0].teamCount);
                },
                error: function(error) {
                    //alert(error);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: "/getMaxTeam?",
                success: function(data) {
                    var parsed = $.parseJSON(data);
                    //alert(data);
                    $("#max-team").html(parsed.results[0].maxTeam);
                },
                error: function(error) {
                    //alert(error);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: "/getAvgTeam?",
                success: function(data) {
                    var parsed = $.parseJSON(data);
                    //alert(data);
                    $("#avg-team").html(parsed.results[0].maxTeam);
                },
                error: function(error) {
                    //alert(error);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: "/getAvgMem?",
                success: function(data) {
                    var parsed = $.parseJSON(data);
                    //alert(data);
                    $("#avg-mem").html(parsed.results[0].avgMem);
                },
                error: function(error) {
                    //alert(error);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: "/getMaxMem?",
                success: function(data) {
                    var parsed = $.parseJSON(data);
                    //alert(data);
                    $("#max-mem").html(parsed.results[0].maxMem);
                },
                error: function(error) {
                    //alert(error);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: "/getAvgCrtn?",
                success: function(data) {
                    var parsed = $.parseJSON(data);
                    //alert(data);
                    $("#avg-crtn").html(parsed.results[0].avgCrtn);
                },
                error: function(error) {
                    //alert(error);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: "/getMaxCrtn?",
                success: function(data) {
                    var parsed = $.parseJSON(data);
                    //alert(data);
                    $("#max-crtn").html(parsed.results[0].maxCrtn);
                },
                error: function(error) {
                    //alert(error);
                }
            });
        });

    $.ajax({
        url: "/getSpaceTypesGlobalVar",
        success: function(data) {
            var dataLen = data.length;
            for(var j = 0; j < dataLen; j++) {
                $("#leasing").prepend('<input type="checkbox" name="space-types" value="'+data[j]+'">' + data[j] + '<br/>');
            }
            $("#leasing").prepend(
                '<label for="space-types">Select list:</label><br/>');
        },
        error: function(error) {
            console.log(error);
        }
    });
    </script>
    </body>
</html>
            
            
        