<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Team | SynergySpace</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
    
<body>
	  <form action = '/' method='GET' >
		<button type="submit" class="btn btn-success btn-lrg">
			<span class="glyphicon glyphicon-home"/>
		</button>
	</form>
</body>
</html>