<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="profile.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


</head>
<body>
  
<div class="container">
    <div class="bs-docs-grid">
        <div class="row show-grid">
            <h1>
            <div class="col-xs-9 col-md-9">
                <i>SynergySpace</i>
            </div>
            <div class="col-xs-1 col-md-1">
                <form action = '/' method='GET' >
                    <button type="submit" class="btn btn-success btn-lrg">
                        <span class="glyphicon glyphicon-home"/>
                    </button>
                </form>
            </div>
                
            <div class="col-xs-1 col-md-1">
                <form action = '/getUserInfo' method='GET' >
                    <button type="submit" class="btn btn-success btn-lrg">
                        <span class="glyphicon glyphicon-user"/>
                    </button>
                </form>
            </div>
            <div class="col-xs-1 col-md-1">
                    <form action = '/logout' method='GET' >
                        
                        <button type="submit" class="btn btn-success btn-lrg">
                            <span class="glyphicon glyphicon-log-out"/>
                        </button>
                        </input>
                    </form>
                </div>
            </h1>
        </div>
        <div class="spaces">
            <h3> Available Spaces
            </h3>
            <div class="bs-docs-grid">
            <div class="row-same-height">
                <div class="col-xs-3 col-xs-height">
                    womp
                </div>
                <div class="col-xs-9 col-xs-height">
                    womp womp
                </div>
            </div>
            <div class="row-same-height">
                <div class="col-xs-3 col-xs-height">
                    womp
                </div>
                <div class="col-xs-9 col-xs-height">
                    womp womp
                </div>
            </div>
            <div class="row-same-height">
                <div class="col-xs-3 col-xs-height">
                    womp
                </div>
                <div class="col-xs-9 col-xs-height">
                    womp womp
                </div>
            </div>
            <div class="row-same-height">
                <div class="col-xs-3 col-xs-height">
                    womp
                </div>
                <div class="col-xs-9 col-xs-height">
                    womp womp
                </div>
            </div>
            </div>
        </div>
        <div class="profile-info">
		 <div class="display">
                <span class="user-profile glyphicon glyphicon-user" />
            </div>
            <div class="stars">
                <% for (var i=0; i < profile[0].Reputation; i++) { %>
                    <span class="glyphicon glyphicon-star" />
                <% } %>
                    
                <% for (var i=0; i < 5 - profile[0].Reputation; i++) { %>
                    <span class="glyphicon glyphicon-star-empty" />
                <% } %>
            </div>
			<% if(opt.currUser){%>
			<form id="update_acc" action="/updateUserInfo" method="post">
			Email:
			<input type="text" id="email" placeholder = <%=profile[0].Email %> name="email"/><br/>
			
			<!-- If The User is viewing their page, offer a form to change their data -->
			
			<input type="password" id="password" placeholder="new Password" name="password"/>
			
			Name:
			<input type="text" id="firstName" placeholder= <%=profile[0].FirstName%> name="firstName"/>
			<input type="text" id="lastName" placeholder= <%=profile[0].LastName%> name="lastName"/><br/>
			Home Location
			<input type="text" id="homeLocation" placeholder=<%=profile[0].HomeLocation%> name="homeLocation"/><br/>
			Project Interests:
			<input type="text" id="projectInterest" placeholder=<%=profile[0].ProjectInterests%> name="projectInterests"/><br/>
			About:
			<input type="text" id="about" placeholder=<%=profile[0].About%> name="about"/><br/>
			
			<br/>
			
			<input type="submit" id="update_acc" value="Submit"/>
			
			</form> 
			
			<% }else{ %>
			<!-- If The User is viewing another user's page, just provide data -->
			Name: <%=profile[0].FirstName%> <%=profile[0].LastName%> <br/>
			
			About:<textarea id="about"> <%=profile[0].About%></textarea>
            <% } %>
        </div>
    </div>
          
</div>

 


</body>
</html>
