<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile | SynergySpace</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
    
<body>
    <div class="container">
        <div class="bs-docs-grid">
            <div class="row show-grid">
                <h1>
                    <div class="col-xs-9 col-md-9">
                        <i>SynergySpace</i>
                    </div>
                    
                    <div class="col-xs-1 col-md-1">
                        <form action = '/' method='GET' >
                            <button type="submit" class="btn btn-success btn-lrg">
                                <span class="glyphicon glyphicon-home"/>
                            </button>
                        </form>
                    </div>

                    <div class="col-xs-1 col-md-1">
                        <form action = '/getUserInfo' method='GET' >
                            <button type="submit" class="btn btn-success btn-lrg">
                                <span class="glyphicon glyphicon-user"/>
                            </button>
                        </form>
                    </div>
                    
                    <div class="col-xs-1 col-md-1">
                            <form action = '/logout' method='GET' >
                                <button type="submit" class="btn btn-success btn-lrg">
                                    <span class="glyphicon glyphicon-log-out"/>
                                </button>
                            </form>
                    </div>
                </h1>
            </div>
            
            <div class="spaces">
                <h3> 
					
                    <%if (opt.spaceFound){ %>
                        Joined Spaces
                    <%}else{%>	
                        Available Spaces
                    <%}%>
                </h3>

                <% if (opt.spaceFound){%>
				<%for (var i=0; i<tennantSpace.length;i++){ %>
                    <!-- User Is currently occupying a space -->
                    <div class="bs-docs-grid">
                        <div class="row-same-height">
                            <div class="col-xs-3 col-xs-height">
                                Name: <%=tennantSpace[i].SpaceName%> <br/>
                                Location: <%= tennantSpace[i].Location %>
                            </div>
                            <div class="col-xs-9 col-xs-height">
                                Description: <%=tennantSpace[i].Description%><br/>
                                Type: <%=tennantSpace[i].SpaceType%>
                                <br/>
                                <button id="view-space-button" class="space-button" spaceId=<%=tennantSpace[i].SpaceId%>>
                                    View Space
                                </button>
                            </div>
                        </div>
                    </div>
					<% } %>
               
                            
                <% }else{ %>
                    <!-- User Is NOT currently occupying a space -->
                    <div class="bs-docs-grid">
                        <div class="row-same-height">
                            <div class="col-xs-3 col-xs-height">
                                <br/>
                                <form action = '/postings.html' method='GET' >
                                    <button type="submit" class="btn btn-success btn-lrg">
                                        <span class="glyphicon glyphicon-th-list"/>
                                    </button>
                                    <br/>
                                    View Available Spaces
                                </form>
                            </div>
                        </div>
                    </div>
                <%}%>
				<!--User owns a space-->
				<h3>
				Owned Spaces
				</h3>
				<% if (Owner){%>
				<% for (var j=0; j<ownerSpace.length;j++){%>
				<div class="bs-docs-grid">
                    <div class="row-same-height">
                        <div class="col-xs-3 col-xs-height">
                            Name: <%=ownerSpace[j].SpaceName%> <br/>
                            Location: <%= ownerSpace[j].Location %>
                        </div>
                        <div class="col-xs-9 col-xs-height">
                            Description: <%=ownerSpace[j].Description%><br/>
                            Type: <%=ownerSpace[j].SpaceType%>
                            <br/>
                            <button id="view-space-button" class="space-button" spaceId=<%=ownerSpace[j].SpaceId%>>
                                View Space
                            </button>
                        </div>
                    </div>
                </div>
				 <%}%>
				<!-- User does not own a space--> 
				<%}else{%>
				<div class="bs-docs-grid">
                    <div class="row-same-height">
                        <div class="col-xs-3 col-xs-height">
                            <br/>
							This user does not own any spaces
							
                        </div>
                    </div>
                </div>
				 
				 
				 <% }%>
				 </div>	
            </div>
        <div class="profile-info">
            <div class="display">
                <span class="user-profile glyphicon glyphicon-user" />
            </div>
            
            <div class="stars">
                <% for (var i=0; i < profile[0].Reputation; i++) { %>
                    <span class="glyphicon glyphicon-star" />
                <% } %>

                <% for (var i=0; i < 5 - profile[0].Reputation; i++) { %>
                    <span class="glyphicon glyphicon-star-empty" />
                <% } %>
            </div>
                    
            <% if(opt.currUser){%>
                <form id="update_acc" action="/updateUserInfo" method="post">
                    <!--Email:
                    <input type="text" id="email" value = <%=profile[0].Email %> name="email"/><br/>-->

                    <!-- If The User is viewing their page, offer a form to change their data -->
                    <!--New Password:
                    <input type="password" id="password" value=<%= profile[0].Password%> name="password"/>-->

                    Name:
                    <input type="text" id="firstName" value= <%=profile[0].FirstName%> name="firstName"/>
                    <input type="text" id="lastName" value= <%=profile[0].LastName%> name="lastName"/><br/>
                    Home Location
                    <input type="text" id="homeLocation" value=<%=profile[0].HomeLocation%> name="homeLocation"/><br/>
                    Project Interests:
                    <input type="text" id="projectInterests" name="projectInterests" value=<%=profile[0].ProjectInterests? profile[0].ProjectInterests : ""%>></input><br/>
                    About:
                    <input type="text" id="about" name="about" value=<%= profile[0].About ? profile[0].About : ""%>></input><br/>

                    <br/>

                    <input type="submit" id="update_acc" value="Submit"/>

                </form> 

            <% }else{ %>
                <!-- If The User is viewing another user's page, just provide data -->
                Name: <%=profile[0].FirstName%> <%=profile[0].LastName%> <br/>

                About:<textarea id="about"> <%=profile[0].About%></textarea>
            <% } %>
        </div>
    </div>
</body>

    <script type="text/javascript">
        var spaceButtons = $(".space-button");
        for(var i = 0, max = spaceButtons.length; i < max; i++) {
            var btn = spaceButtons[i];
            btn.onclick = function(btnSpaceId) {
                return function() {
                    location.href = "/space-info.html?spaceId=" + btnSpaceId;
                };
            } ($(btn).attr("spaceId"));
        }
    </script>
</html>
