<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Space Information | SynergySpace</title>
	`	<meta charset="utf-8">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="team-info.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<link href="//code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="team" id="team">
				Team Name:<%=teamInfo.TeamName%>
			</div>
		</div>
	</body>
	
</html>