<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Space Information | SynergySpace</title>
	`	<meta charset="utf-8">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="team-info.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<link href="//code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
		 <div class="bs-docs-grid">
        <div class="row show-grid">
            <h1>
                <div class="col-xs-9 col-md-9">
                    <i>View Team</i>
                </div>

                <!-- Menu Heading -->
                <div class="col-xs-1 col-md-1">
                    <form action = '/' method='GET' >
                        <button type="submit" class="btn btn-success btn-lrg">
                            <span class="glyphicon glyphicon-home"/>
                        </button>
                    </form>
                </div>

                <div class="col-xs-1 col-md-1">
                    <form action = '/getUserInfo' method='GET' >
                        <button type="submit" class="btn btn-success btn-lrg">
                            <span class="glyphicon glyphicon-user"/>
                        </button>
                    </form>
                </div>

                <div class="col-xs-1 col-md-1">
                    <form action = '/logout' method='GET' >

                        <button type="submit" class="btn btn-success btn-lrg">
                            <span class="glyphicon glyphicon-log-out"/>
                        </button>
                        </input>
                    </form>
                </div>
                <!-- End Menu Heading -->
            </h1>
        </div>
    </div>
			<div class="team" id="team">
				<h4> Team Info</h4>
				Team Name: <%=teamInfo.TeamName%><br/>
				Team Description: <%=teamInfo.TeamDescription%><br/>
				Team Leader: <%=teamInfo.FirstName%> <%=teamInfo.LastName%><br/><br/>
				Located At Space: <%=teamInfo.SpaceName%>
				<%if(user){%>
				<input type="hidden" id="spaceId" value= <%=teamInfo.SpaceId %>>
				<input type="hidden" id="user" value= <%=user%>>
				<div id="apply">
				<form action = '/apply-team' method='POST' >
					<input type="hidden" name="user" id="user" value=<%=user%> >
					<input type="hidden" name="teamId" id="teamId" value=<%=teamInfo.TeamId%>>
					<button type="submit" class="btn btn-success btn-lrg">
						<span class="glyphicon glyphicon-plus"> Join This Team</span>
					</button>
					</input>
				</form>
				</div>
				<script>
					$(document).ready(function() {
						var spaceId = document.getElementById("spaceId").value;
						var user = document.getElementById("user").value;
						var link = '/getUserLeaseInfo/?spaceId=' + spaceId+'&user='+user;
						$.ajax({
							url: link, //the URL to your node.js server that has data
							dataType: 'json',
						}).done(function(data){
							var output = '';
							//window.alert(JSON.stringify(data));
							//window.alert(data.results.length);
							if(data.results.length==0){
								output += '';  
								document.getElementById('apply').innerHTML = output;

							}
							
						}); 
					});
				</script>
				
				
			<%}%>
			</div>
			<h4>Members</h4>
			<div class="members" id="members">
			<input type="hidden" id="teamid" value= <%=teamInfo.TeamId %>>

				<script>
					$(document).ready(function() {
						var teamId = document.getElementById("teamid").value;
						var link = '/getAllTeamMemberInfo/?teamId=' + teamId;
						$.ajax({
							url: link, //the URL to your node.js server that has data
							dataType: 'json',
						}).done(function(data){
							var output = '';
							//window.alert(JSON.stringify(data));

							for (i = 0; i < data.results.length; i++) { 
								output += '<a href="/getUserInfo' + data.results[i].UserId +'"> First Name: ' + data.results[i].FirstName + '<br> Last Name: ' + data.results[i].LastName + ' </a><br><br>';  
							}
							document.getElementById('members').innerHTML = output;
						}); 
					});
				</script>
			</div>
		</div>
	</body>
	
</html>