@font-face { font-family: AdobeGothic; src: url("AdobeGothicStd-Bold.otf"); } 

body {
    background-color: rgb(218, 243, 214);
    width: inherit;
    color: rgb(105, 124, 113);
}

.spaces {
    background-color: white;
    width: 70%;
    float: right;
    height: 100%;
}

.spaces h3 {
    margin-top: 0px;
    height: 40px;
    padding: 7px;
    background-color: rgb(127, 161, 141);
    color: white;
}

.spaces div {
    margin-top: 0px;
    height: 100px;
    border-style: solid;
    border-color: rgb(101, 188, 138);
    border-width: 2px;
}


h1 {
    background-color: rgb(101, 188, 138);
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    height: 100px;
    line-height: 25px;
    padding: 30px 10px;
    font-family: AdobeGothic;
    color: rgb(255, 255, 255);
}


h2 {
    margin-top: 0px;
    padding: 15px;
    font-family: helvetica;
}

h4 {
    margin-top: 0px;
    padding: 15px;
    font-family: helvetica;
    
}

input {
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(139, 203, 166);
    border-radius: 5px;
    background-color: rgb(241, 243, 242);
    color: rgb(105, 124, 113);
}

input[type=submit] {
    display: block;
    background-color: rgb(101, 188, 138);
    color: white;
}

input[type=checkbox] {
    margin-right: 5px;
}

#leasing {
    margin-top: 0px;
    padding: 15px;
    font-family: helvetica;
    display: inline-block;   
}


p {
    color: rgb(105, 124, 113);
    margin-top: 20px;
    margin-left: 15px;
}

.glyphicon-home, .glyphicon-user, .glyphicon-log-out {
    margin-top: 0%;
    font-size: 30px;
}

.user-profile {
    margin-top: 20%;
    font-size: 70px;
}