@font-face { font-family: AdobeGothic; src: url("AdobeGothicStd-Bold.otf"); }

body {
    background-color: rgb(218, 243, 214);
    width: inherit;
}
h1 {
    background-color: rgb(101, 188, 138);
    margin-top: 0px;
    margin-right: 0px;
    height: 100px;
    line-height: 25px;
    padding: 30px 10px;
    font-family: AdobeGothic;
    color: rgb(255, 255, 255);
}

.team{
	border-style: solid;
    border-width: 5px;
    border-color: rgb(101, 188, 138);
	margin:5px;
	padding:5px;

}

.glyphicon-home, .glyphicon-user, .glyphicon-log-out {
    margin-top: 0%;
    font-size: 30px;
}