createTeam{
	background-color: rgb(105, 124, 113);
    margin-top: 20px;
    margin-left: 15px;
}
	
headings {
    width:50%;
    height: 100%;
    line-height: inherit;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: rgb(168, 206, 160);
    color: white;
    vertical-align: middle;
}