@font-face { font-family: AdobeGothic; src: url("AdobeGothicStd-Bold.otf"); }

body{
    background-color: rgb(218, 243, 214);
    width: inherit;
}

h1{
    background-color: rgb(101, 188, 138);
    margin-top: 0px;
    margin-right: 0px;
    height: 100px;
    line-height: 25px;
    padding: 30px 10px;
    font-family: AdobeGothic;
    color: rgb(255, 255, 255);
}


.spaces h3{
    margin-top: 0px;
    height: 40px;
    padding: 7px;
    background-color: rgb(127, 161, 141);
    color: white;
}

.spaces div{
    height: auto;
    
    background-color: white;
}
.search_keywords{
    font-size: 20px;
    height: 100%;
    font-family: AdobeGothic;
    color:rgb(87,116,101);   
}

input{
    display: block;
    margin-top: 10px;
    margin-left: 15px;
    width:80%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(101, 188, 138);
    border-radius: 5px;
    background-color: rgb(241, 243, 242);
    color: rgb(105, 124, 113);
}



input[type=submit]{
    background-color: rgb(101, 188, 138);
    color: white;
}

.available_spaces {
    width:100%;
    height: 100%;
    line-height: inherit;
    padding-left: 20px;
    margin-top: 0;
    margin-left: -15px;
    margin-bottom: 0;
    background-color: rgb(168, 206, 160);
    color: white;
    vertical-align: middle;
    
}

.col-xs-8{
    border-width: 2px;
    border-color: rgb(218, 243, 214);
    border-left: rgb(139, 203, 166);
    border-style: solid;   
    height: 100%;
}

.col-xs-12{
    border-style: solid;
    border-color: rgb(101, 188, 138);
    border-width: 2px;
    
}
p {
    color: rgb(168, 208, 162);    
}

span.tab{
    padding-left: 5em;
}

span.display{
    height: 30%;
    font-size: 70px;
    text-align: center;
    padding: 20%;
    color: rgb(127, 161, 141);
}

.glyphicon-picture {
    margin-top: 20%;
    font-size: 100px;
}

.glyphicon-home, .glyphicon-user, .glyphicon-log-out {
    margin-top: 0%;
    font-size: 30px;
}
